<div class="row">
  <div class="col-md-7">
    <p><%= link_to t('.create_product'), new_product_path, remote: true, class: 'btn btn-default btn-lg' %></p>
    <h2><%= t('.products_inside_fridge') %></h2>
    <%= render 'products/list', products: @products_inside_fridge %>
    <hr/>
    <h2><%= t('.products_outside_fridge') %></h2>
    <%= render 'products/list', products: @products_outside_fridge %>
    <p><%= link_to t('.create_product'), new_product_path, remote: true, class: 'underlined' %></p>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="product-modal-div">
  <%= render 'products/modal' %>
</div>
