<% if measurements.any? %>
  <table class="table table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t('activerecord.attributes.measurement.measured_at') %></th>
        <th scope="col"><%= t('activerecord.attributes.measurement.temperature') %></th>
        <th scope="col"><%= t('activerecord.attributes.measurement.humidity') %></th>
      </tr>
    </thead>
    <tbody>
      <% measurements.order(measured_at: :desc).each do |measurement| %>
        <tr>
          <th scope="row"><%= formatted_datetime(measurement.measured_at) %></th>
          <td><%= measurement.temperature %></td>
          <td><%= measurement.humidity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('.no_measurements') %>
  </p>
<% end %>
