<div class="row">
  <div class="col-md-7">
    <p>
      
      <%= link_to measurements_path(date: (@date - 1.week).to_s) do %>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      <% end %>
      <%= link_to measurements_path(date: @date.yesterday.to_s) do %>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <% end %>
      |
      <%= formatted_date(@date) %>
      |
      <%= link_to measurements_path(date: @date.tomorrow.to_s) do %>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <% end %>
      <%= link_to measurements_path(date: (@date + 1.week).to_s) do %>
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      <% end %>
    </p>
    <%= render 'list', measurements: @measurements %>
  </div>
  <div class="col-md-3"></div>
</div>
