<% if products.any? %>
  <table class="table table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t('activerecord.attributes.product.produced_at') %></th>
        <th scope="col"><%= t('activerecord.attributes.product.name') %></th>
        <th scope="col"><%= t('activerecord.attributes.product.label') %></th>
        <th scope="col"><%= t('activerecord.attributes.product.expiration_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <%= product_table_row(product) %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('.no_products') %>
  </p>
<% end %>
