<% if products.any? %>
  <table class="table table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t('activerecord.attributes.product.name') %></th>
        <th scope="col"><%= t('.phases') %></th>
      </tr>
    </thead>
    <tbody>
      <% products.each do |product| %>
        <tr class="<%= product_class(product) %>" data-href="<%= product_url(product) %>">
          <td scope="row"><%= product.full_name %></td>
          <td><%= product.phases_info %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('.no_products') %>
  </p>
<% end %>
