<div class="row">
  <div class="col-md-7">
    <p><%= link_to t('.create_product'), new_product_path, remote: true, class: 'btn btn-default btn-lg' %></p>
    

    <!-- Nav tabs -->
    <ul class="nav nav-tabs responsive" id="products-tab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link" id="in-progress-tab" data-toggle="tab" href="#in-progress" role="tab" aria-controls="in-progress" aria-selected="true"><%= t('.in_progress') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false"><%= t('.completed') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="archived-tab" data-toggle="tab" href="#archived" role="tab" aria-controls="archived" aria-selected="false"><%= t('.archived') %></a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="in-progress" role="tabpanel" aria-labelledby="in-progress-tab">
        <%= render 'list', products: @products_in_progress %>
      </div>
      <div class="tab-pane" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <% if @products_completed.any? %>
          <table class="table table-hover table-responsive">
            <thead class="thead-light">
              <tr>
                <th scope="col"><%= t('activerecord.attributes.product.name') %></th>
                <th scope="col"><%= t('activerecord.attributes.product.produced_at') %></th>
                <th scope="col"><%= t('activerecord.attributes.product.expiration_at') %></th>
                <th scope="col"><%= t('.phases') %></th>
              </tr>
            </thead>
            <tbody>
              <% @products_completed.each do |product| %>
                <tr class="<%= product_class(product) %>" data-href="<%= product_url(product) %>">
                  <td scope="row"><%= product.full_name %></td>
                  <td><%= formatted_date(product.produced_at) %></td>
                  <td><%= formatted_date(product.expiration_at) %></td>
                  <td><%= product.phases_info %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>
            <%= t('.no_products') %>
          </p>
        <% end %>
      </div>
      <div class="tab-pane" id="archived" role="tabpanel" aria-labelledby="archived-tab">
        <% if @products_archived.any? %>
          <table class="table table-hover table-responsive">
            <thead class="thead-light">
              <tr>
                <th scope="col"><%= t('activerecord.attributes.product.name') %></th>
                <th scope="col"><%= t('activerecord.attributes.product.produced_at') %></th>
                <th scope="col"><%= t('activerecord.attributes.product.expiration_at') %></th>
                <th scope="col"><%= t('activerecord.attributes.product.archived_at') %></th>
              </tr>
            </thead>
            <tbody>
              <% @products_archived.each do |product| %>
                <tr class="<%= product_class(product) %>" data-href="<%= product_url(product) %>">
                  <td scope="row"><%= product.full_name %></td>
                  <td><%= formatted_date(product.produced_at) %></td>
                  <td><%= formatted_date(product.expiration_at) %></td>
                  <td><%= formatted_date(product.archived_at) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>
            <%= t('.no_products') %>
          </p>
        <% end %>
      </div>
    </div>
    <p><%= link_to t('.create_product'), new_product_path, remote: true, class: 'underlined' %></p>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="product-modal-div">
  <%= render 'modal' %>
</div>
