<h3><%= t('.phases') %></h3>
<% if product.phases.any? %>
    <table class="table table-hover table-responsive">
    <thead class="thead-light">
      <tr>
        <th scope="col"><%= t('activerecord.attributes.phase.name') %></th>
        <th scope="col"><%= t('activerecord.attributes.phase.begin_at') %></th>
        <th scope="col"><%= t('activerecord.attributes.phase.planned_end_at') %></th>
        <th scope="col"><%= t('activerecord.attributes.phase.end_at') %></th>
      </tr>
    </thead>
    <tbody>
      <% product.phases.order(end_at: :desc).each do |phase| %>
        <%= phase_table_row(phase) %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('.no_phases') %></p>
<% end %>
