<% if @phase.present? %>
  <div class="modal fade" tabindex="-1" role="dialog" id="phase-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_for [@product, @phase] do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= @phase.new_record? ? t('.new_phase') : @phase.name %></h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :name, t('activerecord.attributes.phase.name') %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :planned_end_at, t('activerecord.attributes.phase.planned_end_at') %>
              <%= f.datetime_field :planned_end_at, class: 'form-control' %>
            </div>
            <% unless @phase.new_record? %>
              <div class="form-group">
                <%= f.label :begin_at, t('activerecord.attributes.phase.begin_at') %>
                <%= f.datetime_field :begin_at, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :end_at, t('activerecord.attributes.phase.end_at') %>
                <%= f.datetime_field :end_at, class: 'form-control' %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default"><%= t('submit_btn_text') %></button>
          </div>
         <% end %>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>
